## 5: CORRELATIONS - WHAT ITEM TYPES?

### Import libraries

In [29]:
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns
import dataframe_image as dfi

from matplotlib.ticker import StrMethodFormatter

# importing the required function for correlations
from scipy.stats import chi2_contingency

### Load and view data

In [33]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH2\df\df_HH2.csv")
# df.describe(include='all')

In [34]:
# use the corr function to display the correlation between all the features
data_corr = df.corr()
# data_corr

# 1. GENERAL CORRELATIONS: time/day/storetype-name

## 1.1. CORRELATION 1: item type vs day

In [6]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['item_type'],columns=df['day'])

CrosstabResult

day,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
item_type,,,,,,,
alcoholic drinks,1,0,0,0,0,0,0
almond milk,0,0,1,0,0,0,0
andalouse sauce,0,0,0,0,1,0,0
apple sauce,1,0,2,0,1,0,0
apples,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...
veal,0,0,1,0,0,0,0
vegetable box,0,2,0,0,0,0,0
vegetable mix,0,0,0,0,3,0,0
yoghurt,1,3,2,1,1,0,0
zucchini,0,0,1,1,0,0,0

In [7]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.007328794340601195

Significant (strong), we could limit options to what's bought per day:
> 1. Certain cat. are bought on specific days only/mostly
2. Could be by chance, but could be on purpose for some categories (e.g. bakery)
3. >  Let's check if this is also true for only the supermarket/times...

## 1.2. CORRELATION 2: item type vs time

In [4]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['item_type'],columns=df['time'])

CrosstabResult

time              afternoon  evening  morning  noon
item_type
alcoholic drinks          1        0        0     0
almond milk               0        1        0     0
andalouse sauce           1        0        0     0
apple sauce               2        1        1     0
apples                    1        1        0     0
...                     ...      ...      ...   ...
veal                      0        0        1     0
vegetable box             0        2        0     0
vegetable mix             2        1        0     0
yoghurt                   2        4        2     0
zucchini                  0        1        1     0

[139 rows x 4 columns]

In [5]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.002121466627746871

Significant (strong) correlation, we could limit options to what's bought per time [in a supermarket]

## 1.3.1 CORRELATION 3: item type vs store

### 1.3.1 item type vs store type

In [8]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['item_type'],columns=df['store_type'])

CrosstabResult

store_type        bakery  butcher  drugstore  furniture store  supermarket
item_type
alcoholic drinks       0        0          0                0            1
almond milk            0        0          0                0            1
andalouse sauce        0        0          0                0            1
apple sauce            0        0          0                0            4
apples                 0        0          0                0            2
...                  ...      ...        ...              ...          ...
veal                   0        0          0                0            1
vegetable box          0        0          0                0            2
vegetable mix          0        0          0                0            3
yoghurt                0        0          0                0            8
zucchini               0        0          0                0            2

[139 rows x 5 columns]

In [9]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 7.298136204606577e-19

### 1.3.2. item type vs store name

In [10]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['item_type'],columns=df['store_name'])

CrosstabResult

store_name,Albert Heijn,Brabo,Carrefour,Delhaize,Ikea,Kruidvat,Okay,Sys,Versavel Poelman
item_type,,,,,,,,,
alcoholic drinks,0,0,0,1,0,0,0,0,0
almond milk,0,0,1,0,0,0,0,0,0
andalouse sauce,0,0,0,0,0,0,1,0,0
apple sauce,0,0,1,1,0,0,2,0,0
apples,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
veal,0,0,0,0,0,0,1,0,0
vegetable box,2,0,0,0,0,0,0,0,0
vegetable mix,0,0,0,0,0,0,3,0,0
yoghurt,3,0,1,2,0,0,2,0,0
zucchini,0,0,1,1,0,0,0,0,0

In [11]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 4.60371070098832e-15

## 1.4. item type vs promo

In [36]:
# Cross tabulation between category and store type
CrosstabResult =pd.crosstab(index=df['item_type'],columns=df['promo_num'])

CrosstabResult

promo_num         0  1
item_type
alcoholic drinks  1  0
almond milk       1  0
andalouse sauce   1  0
apple sauce       4  0
apples            2  0
...              .. ..
veal              1  0
vegetable box     0  2
vegetable mix     1  2
yoghurt           7  1
zucchini          2  0

[139 rows x 2 columns]

In [37]:
# Performing Chi-sq test
ChiSqResult = chi2_contingency(CrosstabResult)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is:', ChiSqResult[1])

The P-Value of the ChiSq Test is: 0.0003625346131603951

We could separate items that are primarily/only bought in promo and exclude them from regular groceries

# 2. Narrow down dataframe

## 2.1 Per DAY

In [69]:
# define data
Monday = 'Monday'
Tuesday = 'Tuesday'
Wednesday = 'Wednesday'
Thursday = 'Thursday'
Friday = 'Friday'
Saturday = 'Saturday'
Sunday = 'Sunday'

# select only these data (for day, store, store name)
df_Monday = df[df["day"] == Monday]
df_Tuesday = df[df["day"] == Tuesday]
df_Wednesday = df[df["day"] == Wednesday]
df_Thursday = df[df["day"] == Thursday]
df_Friday = df[df["day"] == Friday]
df_Saturday = df[df["day"] == Saturday]
df_Sunday = df[df["day"] == Sunday]

In [70]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['item_type'],columns=df_Monday['time'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['item_type'],columns=df_Tuesday['time'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['item_type'],columns=df_Wednesday['time'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['item_type'],columns=df_Thursday['time'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['item_type'],columns=df_Friday['time'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['item_type'],columns=df_Saturday['time'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['item_type'],columns=df_Sunday['time'], dropna=False)

# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.04201822547743906
The P-Value of the ChiSq Test is, for Tuesdays: 0.07250903390723971
The P-Value of the ChiSq Test is, for Wednesdays: 0.30988495327136445
The P-Value of the ChiSq Test is, for Thursdays: 0.04436847627701384
The P-Value of the ChiSq Test is, for Fridays: 0.49221958873322486
The P-Value of the ChiSq Test is, for Saturdays: 0.4090944693037359
The P-Value of the ChiSq Test is, for Sundays: 1.0

In [71]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['item_type'],columns=df_Monday['store_type'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['item_type'],columns=df_Tuesday['store_type'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['item_type'],columns=df_Wednesday['store_type'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['item_type'],columns=df_Thursday['store_type'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['item_type'],columns=df_Friday['store_type'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['item_type'],columns=df_Saturday['store_type'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['item_type'],columns=df_Sunday['store_type'], dropna=False)

# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.013901439708649498
The P-Value of the ChiSq Test is, for Tuesdays: 0.025016961216351507
The P-Value of the ChiSq Test is, for Wednesdays: 0.1090641579497725
The P-Value of the ChiSq Test is, for Thursdays: 0.9686462864551427
The P-Value of the ChiSq Test is, for Fridays: 0.8655512299356921
The P-Value of the ChiSq Test is, for Saturdays: 0.004323383270839815
The P-Value of the ChiSq Test is, for Sundays: 0.017341246964033406

In [72]:
# Cross tabulation between category and store type
CrosstabResult_Monday =pd.crosstab(index=df_Monday['item_type'],columns=df_Monday['store_name'], dropna=False)
CrosstabResult_Tuesday =pd.crosstab(index=df_Tuesday['item_type'],columns=df_Tuesday['store_name'], dropna=False)
CrosstabResult_Wednesday =pd.crosstab(index=df_Wednesday['item_type'],columns=df_Wednesday['store_name'], dropna=False)
CrosstabResult_Thursday =pd.crosstab(index=df_Thursday['item_type'],columns=df_Thursday['store_name'], dropna=False)
CrosstabResult_Friday =pd.crosstab(index=df_Friday['item_type'],columns=df_Friday['store_name'], dropna=False)
CrosstabResult_Saturday =pd.crosstab(index=df_Saturday['item_type'],columns=df_Saturday['store_name'], dropna=False)
CrosstabResult_Sunday =pd.crosstab(index=df_Sunday['item_type'],columns=df_Sunday['store_name'], dropna=False)

# Performing Chi-sq test
Monday = chi2_contingency(CrosstabResult_Monday)
Tuesday = chi2_contingency(CrosstabResult_Tuesday)
Wednesday = chi2_contingency(CrosstabResult_Wednesday)
Thursday = chi2_contingency(CrosstabResult_Thursday)
Friday = chi2_contingency(CrosstabResult_Friday)
Saturday = chi2_contingency(CrosstabResult_Saturday)
Sunday = chi2_contingency(CrosstabResult_Sunday)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for Mondays:', Monday[1])
print('The P-Value of the ChiSq Test is, for Tuesdays:', Tuesday[1])
print('The P-Value of the ChiSq Test is, for Wednesdays:', Wednesday[1])
print('The P-Value of the ChiSq Test is, for Thursdays:', Thursday[1])
print('The P-Value of the ChiSq Test is, for Fridays:', Friday[1])
print('The P-Value of the ChiSq Test is, for Saturdays:', Saturday[1])
print('The P-Value of the ChiSq Test is, for Sundays:', Sunday[1])

The P-Value of the ChiSq Test is, for Mondays: 0.013901439708649408
The P-Value of the ChiSq Test is, for Tuesdays: 0.02501696121635147
The P-Value of the ChiSq Test is, for Wednesdays: 0.1090641579497723
The P-Value of the ChiSq Test is, for Thursdays: 0.2937140173009805
The P-Value of the ChiSq Test is, for Fridays: 0.4922195887332244
The P-Value of the ChiSq Test is, for Saturdays: 0.013851927042001286
The P-Value of the ChiSq Test is, for Sundays: 0.0003349433115878115

## 2.2 Per TIME

In [68]:
# define data
morning = 'morning'
noon = 'noon'
afternoon = 'afternoon'
evening = 'evening'


# select only these data (for time)
df_morning = df[df["time"] == morning]
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]
df_evening = df[df["time"] == evening]

In [48]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['day'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['day'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['day'])
CrosstabResult_evening =pd.crosstab(index=df_evening['item_type'],columns=df_evening['day'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)
ChiSqResult_evening = chi2_contingency(CrosstabResult_evening)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])
print('The P-Value of the ChiSq Test is, for evenings:', ChiSqResult_evening[1])

The P-Value of the ChiSq Test is, for mornings: 0.07356115062220253
The P-Value of the ChiSq Test is, for noons: 0.39419366188146604
The P-Value of the ChiSq Test is, for afternoons: 0.2409068528224968
The P-Value of the ChiSq Test is, for evenings: 0.05579996797855117

In [49]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['store_type'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['store_type'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['store_type'])
CrosstabResult_evening =pd.crosstab(index=df_evening['item_type'],columns=df_evening['store_type'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)
ChiSqResult_evening = chi2_contingency(CrosstabResult_evening)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])
print('The P-Value of the ChiSq Test is, for evenings:', ChiSqResult_evening[1])

The P-Value of the ChiSq Test is, for mornings: 7.350991261367724e-15
The P-Value of the ChiSq Test is, for noons: 0.05038045108893573
The P-Value of the ChiSq Test is, for afternoons: 0.5843086362618699
The P-Value of the ChiSq Test is, for evenings: 1.0

In [50]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['store_name'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['store_name'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['store_name'])
CrosstabResult_evening =pd.crosstab(index=df_evening['item_type'],columns=df_evening['store_name'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)
ChiSqResult_evening = chi2_contingency(CrosstabResult_evening)


# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])
print('The P-Value of the ChiSq Test is, for evenings:', ChiSqResult_evening[1])

The P-Value of the ChiSq Test is, for mornings: 1.1084771504656664e-20
The P-Value of the ChiSq Test is, for noons: 0.012904767011066262
The P-Value of the ChiSq Test is, for afternoons: 0.462864009144089
The P-Value of the ChiSq Test is, for evenings: 0.05579996797855117

### Aggregate time

In [54]:
# aggregate afternoon and evening
df['time'] = df['time'].replace(['afternoon', 'evening'], 'afternoon')

# select only these data (for time)
df_morning = df[df["time"] == morning]
df_noon = df[df["time"] == noon]
df_afternoon = df[df["time"] == afternoon]

In [56]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['day'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['day'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['day'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 0.07356115062220253
The P-Value of the ChiSq Test is, for noons: 0.39419366188146604
The P-Value of the ChiSq Test is, for afternoons: 0.1344459864858153

In [57]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['store_type'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['store_type'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['store_type'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 7.350991261367724e-15
The P-Value of the ChiSq Test is, for noons: 0.05038045108893573
The P-Value of the ChiSq Test is, for afternoons: 0.9916088795681783

In [58]:
# Cross tabulation between category and store type
CrosstabResult_morning =pd.crosstab(index=df_morning['item_type'],columns=df_morning['store_name'])
CrosstabResult_noon =pd.crosstab(index=df_noon['item_type'],columns=df_noon['store_name'])
CrosstabResult_afternoon =pd.crosstab(index=df_afternoon['item_type'],columns=df_afternoon['store_name'])

# Performing Chi-sq test
ChiSqResult_morning = chi2_contingency(CrosstabResult_morning)
ChiSqResult_noon = chi2_contingency(CrosstabResult_noon)
ChiSqResult_afternoon = chi2_contingency(CrosstabResult_afternoon)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test is, for mornings:', ChiSqResult_morning[1])
print('The P-Value of the ChiSq Test is, for noons:', ChiSqResult_noon[1])
print('The P-Value of the ChiSq Test is, for afternoons:', ChiSqResult_afternoon[1])

The P-Value of the ChiSq Test is, for mornings: 1.1084771504656664e-20
The P-Value of the ChiSq Test is, for noons: 0.012904767011066262
The P-Value of the ChiSq Test is, for afternoons: 0.5135745255228084

## 2.4 Per STORE NAME

In [63]:
# define data
store1 = 'Albert Heijn'
store2 = 'Carrefour'
store3 = 'Okay'
store4 = 'Delhaize'
store5 = 'Versavel Poelman'
store6 = 'Kruidvat'
store7 = 'Brabo'
store8 = 'Ikea'
store9 = 'Sys'

# select only these data for the df
df_store1 = df[df['store_name'] == store1]
df_store2 = df[df['store_name'] == store2]
df_store3 = df[df['store_name'] == store3]
df_store4 = df[df['store_name'] == store4]
df_store5 = df[df['store_name'] == store5]
df_store6 = df[df['store_name'] == store6]
df_store7 = df[df['store_name'] == store7]
df_store8 = df[df['store_name'] == store8]
df_store9 = df[df['store_name'] == store9]

In [64]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['item_type'],columns=df_store1['time'])
CrosstabResult2=pd.crosstab(index=df_store2['item_type'],columns=df_store2['time'])
CrosstabResult3=pd.crosstab(index=df_store3['item_type'],columns=df_store3['time'])
CrosstabResult4=pd.crosstab(index=df_store4['item_type'],columns=df_store4['time'])
CrosstabResult5=pd.crosstab(index=df_store5['item_type'],columns=df_store5['time'])
CrosstabResult6=pd.crosstab(index=df_store6['item_type'],columns=df_store6['time'])
CrosstabResult7=pd.crosstab(index=df_store7['item_type'],columns=df_store7['time'])
CrosstabResult8=pd.crosstab(index=df_store8['item_type'],columns=df_store8['time'])
CrosstabResult9=pd.crosstab(index=df_store9['item_type'],columns=df_store9['time'])

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)
ChiSqResult6 = chi2_contingency(CrosstabResult6)
ChiSqResult7 = chi2_contingency(CrosstabResult7)
ChiSqResult8 = chi2_contingency(CrosstabResult8)
ChiSqResult9 = chi2_contingency(CrosstabResult9)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test Carrefour is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test Okay is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test Delhaize is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test Versavel Poelman is:', ChiSqResult5[1])
print('The P-Value of the ChiSq Test Kruidvat is:', ChiSqResult6[1])
print('The P-Value of the ChiSq Test Brabo is:', ChiSqResult7[1])
print('The P-Value of the ChiSq Test Ikea is:', ChiSqResult8[1])
print('The P-Value of the ChiSq Test Sys is:', ChiSqResult9[1])

The P-Value of the ChiSq Test AH is: 0.2553069052181278
The P-Value of the ChiSq Test Carrefour is: 1.0
The P-Value of the ChiSq Test Okay is: 0.7453955042975469
The P-Value of the ChiSq Test Delhaize is: 0.48913159160139275
The P-Value of the ChiSq Test Versavel Poelman is: 1.0
The P-Value of the ChiSq Test Kruidvat is: 1.0
The P-Value of the ChiSq Test Brabo is: 1.0
The P-Value of the ChiSq Test Ikea is: 1.0
The P-Value of the ChiSq Test Sys is: 0.9604070567886343

In [65]:
# Cross tabulation between category and day
CrosstabResult1=pd.crosstab(index=df_store1['item_type'],columns=df_store1['day'])
CrosstabResult2=pd.crosstab(index=df_store2['item_type'],columns=df_store2['day'])
CrosstabResult3=pd.crosstab(index=df_store3['item_type'],columns=df_store3['day'])
CrosstabResult4=pd.crosstab(index=df_store4['item_type'],columns=df_store4['day'])
CrosstabResult5=pd.crosstab(index=df_store5['item_type'],columns=df_store5['day'])
CrosstabResult6=pd.crosstab(index=df_store6['item_type'],columns=df_store6['day'])
CrosstabResult7=pd.crosstab(index=df_store7['item_type'],columns=df_store7['day'])
CrosstabResult8=pd.crosstab(index=df_store8['item_type'],columns=df_store8['day'])
CrosstabResult9=pd.crosstab(index=df_store9['item_type'],columns=df_store9['day'])

# Performing Chi-sq test
ChiSqResult1 = chi2_contingency(CrosstabResult1)
ChiSqResult2 = chi2_contingency(CrosstabResult2)
ChiSqResult3 = chi2_contingency(CrosstabResult3)
ChiSqResult4 = chi2_contingency(CrosstabResult4)
ChiSqResult5 = chi2_contingency(CrosstabResult5)
ChiSqResult6 = chi2_contingency(CrosstabResult6)
ChiSqResult7 = chi2_contingency(CrosstabResult7)
ChiSqResult8 = chi2_contingency(CrosstabResult8)
ChiSqResult9 = chi2_contingency(CrosstabResult9)

# P-Value is the Probability of H0 being True
# If P-Value > 0.05 then only we Accept the assumption(H0)

print('The P-Value of the ChiSq Test AH is:', ChiSqResult1[1])
print('The P-Value of the ChiSq Test Carrefour is:', ChiSqResult2[1])
print('The P-Value of the ChiSq Test Okay is:', ChiSqResult3[1])
print('The P-Value of the ChiSq Test Delhaize is:', ChiSqResult4[1])
print('The P-Value of the ChiSq Test Versavel Poelman is:', ChiSqResult5[1])
print('The P-Value of the ChiSq Test Kruidvat is:', ChiSqResult6[1])
print('The P-Value of the ChiSq Test Brabo is:', ChiSqResult7[1])
print('The P-Value of the ChiSq Test Ikea is:', ChiSqResult8[1])
print('The P-Value of the ChiSq Test Sys is:', ChiSqResult9[1])

The P-Value of the ChiSq Test AH is: 0.9916297197883326
The P-Value of the ChiSq Test Carrefour is: 1.0
The P-Value of the ChiSq Test Okay is: 0.4407906202626398
The P-Value of the ChiSq Test Delhaize is: 0.48913159160139275
The P-Value of the ChiSq Test Versavel Poelman is: 0.5905214502087732
The P-Value of the ChiSq Test Kruidvat is: 1.0
The P-Value of the ChiSq Test Brabo is: 1.0
The P-Value of the ChiSq Test Ikea is: 1.0
The P-Value of the ChiSq Test Sys is: 0.865542455654743