# THE GROCERY LISTS: variables&lists

### Import libraries & functions

In [1]:
    # Function to generate #visits per day of the week
from AlgorithmDAYS_HH3 import weekdays, dayofweek
    #Function to define the limits for total visits, days, same store and type per week
from AlgorithmCOUNTS_HH3 import CountTotalVisits, CountTotalDays, CountStoreName, CountTimePerDay, CountStoreType, CountTotalPerday, CountVisitsPerDay, CountTimingPerDay, CountTypePerStore
    # Function to generate #visits per time
from AlgorithmTIMES_HH3 import Monday, Tuesday, Wednesday, Thursday, Friday, Sunday, timeperday
    # Function to generate #visits per time
from AlgorithmSTOREday_HH3 import MondayStore, TuesdayStore, WednesdayStore, ThursdayStore, FridayStore, SundayStore, storeperday
    # Function to decide amounts per visit & per week
from AlgorithmAMOUNT_HH3 import StoreAmount, WeekAmount, StoreCount, WeekCount, CatCount, PerCatCount, countsperstore
#     # Function to make the grocery lists
from AlgorithmITEMS_HH3 import supermarkets, bakeries, petsupplies

In [2]:
%matplotlib inline
import pandas as pd
from random import sample
import numpy as np
class bcolors:
    WARNING = '\033[91m'
    BOLD = '\033[1m'

In [3]:
dataframe = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

# Define variables - day/time/store

## Days & visits

In [46]:
df1 = dayofweek()
display(df1)
df1['times'].sum()

 RERUN - Too few/many visits per week

   times        day
0      0     Monday
0      1    Tuesday
0      0  Wednesday
0      0   Thursday
1      0     Friday
0      0   Saturday
0      1     Sunday

2

## Assign TIME
time per day (use df1)

In [47]:
df2 = timeperday(df1)
df2

      time      day
1  evening  Tuesday
0     noon   Sunday

## Stores
store per day (use df1)

In [53]:
df3 = storeperday(df1,df2)
df3

  store_name   store_type      day     time
0       Aldi  supermarket  Tuesday  evening
1    Wouters       bakery   Sunday     noon

## Define item limits (count)

In [54]:
# data = {'store_name': ['Colruyt', 'Vanessa'],
#        'store_type': ['supermarket', 'bakery'],
#        'time': ['evening', 'noon'],
#        'day': ['Wednesday', 'Sunday']}
# df3 = pd.DataFrame(data)
# df3

In [72]:
df4 = countsperstore(df3)
df4['I'] = np.arange(df4.shape[0])
df4

  store_name   store_type      day     time  counts  I
0       Aldi  supermarket  Tuesday  evening      39  0
1    Wouters       bakery   Sunday     noon       3  1

# The Grocery Lists

In [115]:
restart = True 
while restart:
    #     df4 = countsperstore(df3)
    #     df4['I'] = np.arange(df4.shape[0])
    #     df4
    
    # GET A LIST PER STORE VISITED IN THIS WEEK [ADJUST ACCORDING TO WEEKPLANNING]
    super1 = supermarkets(df4, 0)
    baker1 = bakeries(df4, 1)
    
    # get lists per store type
    supermarketlist = pd.concat([super1])
    bakerlist = pd.concat([baker1])

    # append the different lists to the entire week
    weeklist = [super1, baker1]
    week = pd.concat(weeklist)

    #########
    #     Check if the categories per WEEK counts are ok:
    for category in df['category']:
            percatcount = week[week['category']==category]['category'].count()
            CountTotalPerCat = PerCatCount(category)
            mincatperday = CountTotalPerCat[0]
            maxcateperday = CountTotalPerCat[1]
            if mincatperday <= percatcount <= maxcateperday:
                pass
            else:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  week - Too many/few of category:", category)
                restart = True
                break       
     
    # check if the total amounts per week are ok 
    for items in df['item_type']:
        week9Amount = week['amount'].sum()
        NormWeekAmount = WeekAmount()
        minWeekAmount = NormWeekAmount[0]
        maxWeekAmount = NormWeekAmount[1]
        if minWeekAmount <= week9Amount <= maxWeekAmount:
            pass
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to few/many:", week9Amount)
            restart = True
            break  
               
    # Check if the itemtype counts PER STORE TYPE are ok:
    for itemtype in df['item_type']:
        peritemcountSTORE = supermarketlist[supermarketlist['item_type']==itemtype]['item_type'].count()
        CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'supermarket')
        minitemperdaySTORE = CountTotalPeritemSTORE[0]
        maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
        if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
            pass
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  supermarket - Too many/few of item:", itemtype)
            restart = True
            break

    # Check if the itemtype counts PER STORE TYPE are ok:
    for itemtype in df['item_type']:
        peritemcountSTORE = bakerlist[bakerlist['item_type']==itemtype]['item_type'].count()
        CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'bakery')
        minitemperdaySTORE = CountTotalPeritemSTORE[0]
        maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
        if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
            restart = False
            pass
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  bakery - Too many/few of item:", itemtype)
            restart = True
            break

 RERUN -  week - Too many/few of category: snacks
 RERUN -  supermarket - Too many/few of item: sandwiches

## Extra Check

In [116]:
# Check if the itemtype counts PER STORE TYPE are ok:
for itemtype in df['item_type']:
    peritemcountSTORE = supermarketlist[supermarketlist['item_type']==itemtype]['item_type'].count()
    CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'supermarket')
    minitemperdaySTORE = CountTotalPeritemSTORE[0]
    maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
    if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  supermarket - Too many/few of item:", itemtype)
        break

# Check if the itemtype counts PER STORE TYPE are ok:
for itemtype in df['item_type']:
    peritemcountSTORE = bakerlist[bakerlist['item_type']==itemtype]['item_type'].count()
    CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'bakery')
    minitemperdaySTORE = CountTotalPeritemSTORE[0]
    maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
    if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  bakery - Too many/few of item:", itemtype)
        break
    
# Check if the categories per WEEK counts are ok:
for category in df['category']:
    percatcount = week[week['category']==category]['category'].count()
    CountTotalPerCat = PerCatCount(category)
    mincatperday = CountTotalPerCat[0]
    maxcateperday = CountTotalPerCat[1]
    if mincatperday <= percatcount <= maxcateperday:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  week - Too many/few of category:", category)
        break   
    
    
# Check if the total item amount per week is ok:
for items in df['item_type']:
    week9Amount = week['amount'].sum()
    NormWeekAmount = WeekAmount()
    minWeekAmount = NormWeekAmount[0]
    maxWeekAmount = NormWeekAmount[1]
    if week9Amount < minWeekAmount:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to few:", week9Amount)
        break
    elif maxWeekAmount < week9Amount:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to many:", week9Amount)
        break 
    else:
        continue
print('gud!')

 RERUN -  supermarket - Too many/few of item: sandwiches
 RERUN -  week - Too many/few of category: snacks
gud!

In [117]:
# category = 'dairy & plant based'
# print(PerCatCount(category))
print(week[week['item_type']=='sandwiches']['item_type'].count())
CountTypePerStore('sandwiches', 'supermarket')

5

(0.0, 3.0)

# OUTPUT: Call the grocery lists

In [32]:
week

,item_type,item_name,amount,category,time,store_name
0,rice cakes,rijstwafels cheese,1,snacks,morning,MCD
1,bacon,Bio katanspek,1,"meat, fish & veggie",morning,MCD
2,bananas,BANANEN,1,fruit & vegetables,morning,De Pers
3,mascarpone,MASCARPONE,1,dairy & plant based,morning,MCD
4,bread,BROOD GRANEN HALF,1,bakery,morning,MCD
...,...,...,...,...,...,...
60,toilet paper,JUMBOROL,1,household,evening,MCD
61,coco topping,KOKOSBROOD,1,breakfast & spreads,evening,MCD
62,pudding,VANILLE VLA,1,dairy & plant based,evening,MCD
63,candy,MIX CHOCO.KRUIDNOTEN,1,snacks,evening,MCD
64,potatoes,AARDAPPEL VASTKOKEND BIO,1,fruit & vegetables,evening,MCD

In [103]:
df4

  store_name   store_type      day     time  counts  I
0       Aldi  supermarket  Tuesday  evening      39  0
1    Wouters       bakery   Sunday     noon       3  1

# Call individual lists

In [118]:
# Check individual lists (if morning m[i], if noon n[i]; if afternoon a[i]), if evening e[i])
display(super1.sort_values(by=['category']))
# display(baker1)

,item_type,item_name,store_type,store_name,amount,category
2,sandwiches,KEIZERBROODJES 4ST,supermarket,Aldi,3,bakery
18,sandwiches,BAKKERSBROODJES 8X70G,supermarket,Aldi,1,bakery
16,sandwiches,KEIZERBROODJES 4ST,supermarket,Aldi,1,bakery
1,sandwiches,WITTE BAGUETTEN/BROODJ,supermarket,Aldi,1,bakery
3,pita bread,PITABROODJES 4X80G,supermarket,Aldi,1,bakery
43,soup,ROYCO STGERMAIN3ST/KIP,supermarket,Aldi,1,beverages
65,toothbrush,TANDENBORSTELS 2ST,supermarket,Aldi,1,care & hygiene
69,curry sauce,CURRYSAUS 510G,supermarket,Aldi,1,condiments
87,butter,BUTELLA OMEGA 3 250G,supermarket,Aldi,1,dairy & plant based
85,milk,HALFVOLLE MELK 50CL,supermarket,Aldi,1,dairy & plant based
110,frozen snacks,PARTY SNACKS 32X18G,supermarket,Aldi,1,frozen foods
107,popsicles,IJSSTICKES STAR SELECT,supermarket,Aldi,2,frozen foods
115,cheese,PIZZA MOZARELLA 2X335G,supermarket,Aldi,1,frozen foods
131,cucumber,KOMKOMMER,supermarket,Aldi,1,fruit & vegetables
140,apples,JAZZ APPELEN PER KG,supermarket,Aldi,1,fruit & vegetables
128,salad,NOTENSLA 75G,supermarket,Aldi,1,fruit & vegetables
137,tomatoes,MINI ROMA TROSTOMATEN,supermarket,Aldi,1,fruit & vegetables
130,grapes,WITTE DRUIVEN 500G,supermarket,Aldi,1,fruit & vegetables
129,kiwis,KIWI SUNGOLD ZESPRI 50,supermarket,Aldi,1,fruit & vegetables
139,basil,BASILICUM 18G 07340,supermarket,Aldi,1,fruit & vegetables
167,water filters,BRITA WATERFILTER 30C,supermarket,Aldi,1,household
178,hamburgers,RUNDHAMBURGERS,supermarket,Aldi,1,"meat, fish & veggie"
185,lasagna,LASAGNE 400G,supermarket,Aldi,1,"meat, fish & veggie"
186,chicken,KIPPENONDERBOUTEN,supermarket,Aldi,1,"meat, fish & veggie"
173,meat spread,MARTINO OF AMERICANO,supermarket,Aldi,1,"meat, fish & veggie"
183,sausages,GEDROOGDE WORSTJES 120,supermarket,Aldi,1,"meat, fish & veggie"
184,pasta,GEVULDE PASTA 250G,supermarket,Aldi,1,"meat, fish & veggie"
174,lasagna,LASAGNE,supermarket,Aldi,2,"meat, fish & veggie"
216,soup pasta,SOEPPARELS 200G,supermarket,Aldi,1,pasta & rice
229,sausage snacks,GEDROOGDE WORSTJES,supermarket,Aldi,2,snacks
244,chips,RIBBELCHIPS 250G,supermarket,Aldi,1,snacks
233,candy,SNOEPZAKJES 3PACK,supermarket,Aldi,1,snacks
234,candy,PHANTASIA TROPIFRUTTI,supermarket,Aldi,1,snacks
235,biscuits,CHOCOBISCUITS 9X33G,supermarket,Aldi,1,snacks
230,chocolate,MILK JUMBO 7X21 4G,supermarket,Aldi,1,snacks
243,chocolate,"MILK JUMBO 7X21,4G",supermarket,Aldi,1,snacks
232,chips,CHIPEEZ 175G,supermarket,Aldi,1,snacks
242,cookies,JAFFA CAKE 300G,supermarket,Aldi,1,snacks
245,candy,HARIBO KERSEN OF PERZI,supermarket,Aldi,1,snacks

In [80]:
super1.to_excel("Wednesday-Eve-Colruyt.xlsx") 
baker1.to_excel("Sunday-noon-bakker.xlsx")