# THE GROCERY LISTS: variables&lists

### Import libraries & functions

In [1]:
    # Function to generate #visits per day of the week
from AlgorithmDAYS_HH3 import weekdays, dayofweek
    #Function to define the limits for total visits, days, same store and type per week
from AlgorithmCOUNTS_HH3 import CountTotalVisits, CountTotalDays, CountStoreName, CountTimePerDay, CountStoreType, CountTotalPerday, CountVisitsPerDay, CountTimingPerDay, CountTypePerStore
    # Function to generate #visits per time
from AlgorithmTIMES_HH3 import Monday, Tuesday, Wednesday, Thursday, Friday, Sunday, timeperday
    # Function to generate #visits per time
from AlgorithmSTOREday_HH3 import MondayStore, TuesdayStore, WednesdayStore, ThursdayStore, FridayStore, SundayStore, storeperday
    # Function to decide amounts per visit & per week
from AlgorithmAMOUNT_HH3 import StoreAmount, WeekAmount, StoreCount, WeekCount, CatCount, PerCatCount, countsperstore
#     # Function to make the grocery lists
from AlgorithmITEMS_HH3 import supermarkets, bakeries, petsupplies

In [2]:
%matplotlib inline
import pandas as pd
from random import sample
import numpy as np
class bcolors:
    WARNING = '\033[91m'
    BOLD = '\033[1m'

In [3]:
dataframe = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH3\df\df_HH3.csv")

# Define variables - day/time/store

## Days & visits

In [4]:
df1 = dayofweek()
display(df1)
df1['times'].sum()

   times        day
3      2     Monday
0      1    Tuesday
1      1  Wednesday
0      0   Thursday
1      0     Friday
0      0   Saturday
2      0     Sunday

4

## Assign TIME
time per day (use df1)

In [121]:
df2 = timeperday(df1)
df2

        time     day
0  afternoon  Monday
0       noon  Sunday

## Stores
store per day (use df1)

In [136]:
df3 = storeperday(df1,df2)
df3

  store_name   store_type     day       time
0    Colruyt  supermarket  Monday  afternoon
1    Vanessa       bakery  Sunday       noon

## Define item limits (count)

In [5]:
data = {'store_name': ['Colruyt', 'Vanessa'],
       'store_type': ['supermarket', 'bakery'],
       'time': ['evening', 'noon'],
       'day': ['Wednesday', 'Sunday']}
df3 = pd.DataFrame(data)
df3

  store_name   store_type     time        day
0    Colruyt  supermarket  evening  Wednesday
1    Vanessa       bakery     noon     Sunday

In [10]:
df4 = countsperstore(df3)
df4['I'] = np.arange(df4.shape[0])
df4

  store_name   store_type     time        day  counts  I
0    Colruyt  supermarket  evening  Wednesday      31  0
1    Vanessa       bakery     noon     Sunday       3  1

# The Grocery Lists

In [77]:
restart = True 
while restart:
#     df4 = countsperstore(df3)
#     df4['I'] = np.arange(df4.shape[0])
#     df4
    
    # GET A LIST PER STORE VISITED IN THIS WEEK [ADJUST ACCORDING TO WEEKPLANNING]
    super1 = supermarkets(df4, 0)
    baker1 = bakeries(df4, 1)
    
    # get lists per store type
    supermarketlist = pd.concat([super1])
    bakerlist = pd.concat([baker1])

    # append the different lists to the entire week
    weeklist = [super1, baker1]
    week = pd.concat(weeklist)

    #########
#     Check if the categories per WEEK counts are ok:
    for category in df['category']:
            percatcount = week[week['category']==category]['category'].count()
            CountTotalPerCat = PerCatCount(category)
            mincatperday = CountTotalPerCat[0]
            maxcateperday = CountTotalPerCat[1]
            if mincatperday <= percatcount <= maxcateperday:
                pass
            else:
                print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  week - Too many/few of category:", category)
                restart = True
                break       
     
    # check if the total amounts per week are ok 
    for items in df['item_type']:
        week9Amount = week['amount'].sum()
        NormWeekAmount = WeekAmount()
        minWeekAmount = NormWeekAmount[0]
        maxWeekAmount = NormWeekAmount[1]
        if minWeekAmount <= week9Amount <= maxWeekAmount:
            continue
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to few/many:", week9Amount)
            restart = True
            break  
               
    # Check if the itemtype counts PER STORE TYPE are ok:
    for itemtype in df['item_type']:
        peritemcountSTORE = supermarketlist[supermarketlist['item_type']==itemtype]['item_type'].count()
        CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'supermarket')
        minitemperdaySTORE = CountTotalPeritemSTORE[0]
        maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
        if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
            continue
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  supermarket - Too many/few of item:", itemtype)
            restart = True
            break

    # Check if the itemtype counts PER STORE TYPE are ok:
    for itemtype in df['item_type']:
        peritemcountSTORE = bakerlist[bakerlist['item_type']==itemtype]['item_type'].count()
        CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'bakery')
        minitemperdaySTORE = CountTotalPeritemSTORE[0]
        maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
        if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
            restart = False
            continue
        else:
            print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  bakery - Too many/few of item:", itemtype)
            restart = True
            break
        print('gud')

## Extra Check

In [78]:
# Check if the itemtype counts PER STORE TYPE are ok:
for itemtype in df['item_type']:
    peritemcountSTORE = supermarketlist[supermarketlist['item_type']==itemtype]['item_type'].count()
    CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'supermarket')
    minitemperdaySTORE = CountTotalPeritemSTORE[0]
    maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
    if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  supermarket - Too many/few of item:", itemtype)
        break

# Check if the itemtype counts PER STORE TYPE are ok:
for itemtype in df['item_type']:
    peritemcountSTORE = bakerlist[bakerlist['item_type']==itemtype]['item_type'].count()
    CountTotalPeritemSTORE = CountTypePerStore(itemtype, 'bakery')
    minitemperdaySTORE = CountTotalPeritemSTORE[0]
    maxitemeperdaySTORE = CountTotalPeritemSTORE[1]
    if minitemperdaySTORE <= peritemcountSTORE <= maxitemeperdaySTORE:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  bakery - Too many/few of item:", itemtype)
        break
    
# Check if the categories per WEEK counts are ok:
for category in df['category']:
    percatcount = week[week['category']==category]['category'].count()
    CountTotalPerCat = PerCatCount(category)
    mincatperday = CountTotalPerCat[0]
    maxcateperday = CountTotalPerCat[1]
    if mincatperday <= percatcount <= maxcateperday:
        pass
    else:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN -  week - Too many/few of category:", category)
        break   
    
    
# Check if the total item amount per week is ok:
for items in df['item_type']:
    week9Amount = week['amount'].sum()
    NormWeekAmount = WeekAmount()
    minWeekAmount = NormWeekAmount[0]
    maxWeekAmount = NormWeekAmount[1]
    if week9Amount < minWeekAmount:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to few:", week9Amount)
        break
    elif maxWeekAmount < week9Amount:
        print(f"{bcolors.WARNING}{bcolors.BOLD} RERUN - AMOUNT/WEEK - to many:", week9Amount)
        break 
    else:
        continue
print('gud!')

gud!

In [72]:
# category = 'dairy & plant based'
# print(PerCatCount(category))
print(week[week['item_type']=='soup']['item_type'].count())
CountTypePerStore('soup', 'supermarket')

2

(0.0, 2.0)

# OUTPUT: Call the grocery lists

In [32]:
week

,item_type,item_name,amount,category,time,store_name
0,rice cakes,rijstwafels cheese,1,snacks,morning,MCD
1,bacon,Bio katanspek,1,"meat, fish & veggie",morning,MCD
2,bananas,BANANEN,1,fruit & vegetables,morning,De Pers
3,mascarpone,MASCARPONE,1,dairy & plant based,morning,MCD
4,bread,BROOD GRANEN HALF,1,bakery,morning,MCD
...,...,...,...,...,...,...
60,toilet paper,JUMBOROL,1,household,evening,MCD
61,coco topping,KOKOSBROOD,1,breakfast & spreads,evening,MCD
62,pudding,VANILLE VLA,1,dairy & plant based,evening,MCD
63,candy,MIX CHOCO.KRUIDNOTEN,1,snacks,evening,MCD
64,potatoes,AARDAPPEL VASTKOKEND BIO,1,fruit & vegetables,evening,MCD

In [21]:
df4

  store_name   store_type     time        day  counts  I
0    Colruyt  supermarket  evening  Wednesday      31  0
1    Vanessa       bakery     noon     Sunday       3  1

In [79]:
# Check individual lists (if morning m[i], if noon n[i]; if afternoon a[i]), if evening e[i])
display(super1.sort_values(by=['category']))
display(baker1)

,item_type,item_name,store_type,store_name,amount,category
26,sandwiches,BONI brood keizer 6x50g,supermarket,Colruyt,1,bakery
27,bread,EVERYDAY stokbr wit voorgeb 6st 300g,supermarket,Colruyt,2,bakery
48,ice tea,"LIPTON Ice Tea Original bruisend 1,5l",supermarket,Colruyt,8,beverages
51,juice,BONI sinaasappelsap pulp 1L,supermarket,Colruyt,2,beverages
63,apple sauce,BONI appelmousseline bok 200g,supermarket,Colruyt,1,canned foods
67,toothbrush,EVERYDAY tandenborstel medium 4st,supermarket,Colruyt,1,care & hygiene
106,cheese,BONI gouda belegen bl.weide ca.1kg,supermarket,Colruyt,1,dairy & plant based
95,milk,BONI halfvolle melk PET 50cl,supermarket,Colruyt,1,dairy & plant based
91,margarine,BONI om te smeren light vlootje 250g,supermarket,Colruyt,1,dairy & plant based
89,cream cheese,EVERYDAY verse kaas look &f. kruiden 150g,supermarket,Colruyt,1,dairy & plant based
97,cheese,EVERYDAY kaas gouda jong blokjes 280g,supermarket,Colruyt,1,dairy & plant based
113,eggrolls,BONI loempia kip 4 stuks 600g,supermarket,Colruyt,1,frozen foods
150,bananas,"BONI bananen ca1,2kg",supermarket,Colruyt,1,fruit & vegetables
149,bell peppers,paprika punt zoet rood los,supermarket,Colruyt,1,fruit & vegetables
148,cucumber,komkommer,supermarket,Colruyt,1,fruit & vegetables
151,mushrooms,EVERYDAY champignons fijn 250g,supermarket,Colruyt,1,fruit & vegetables
162,salad,ijsbergsla 1stuk,supermarket,Colruyt,1,fruit & vegetables
161,vegetable mix,EVERYDAY wokmixgroenten 400g,supermarket,Colruyt,1,fruit & vegetables
135,carrots,wortelen los,supermarket,Colruyt,1,fruit & vegetables
155,tomatoes,EVERYDAY cocktail tomaten 500g,supermarket,Colruyt,1,fruit & vegetables
198,bacon,EVERYDAY gerookte spekblokjes 250g,supermarket,Colruyt,1,"meat, fish & veggie"
182,charcuterie,BONI Antipasto Italiano 150g,supermarket,Colruyt,1,"meat, fish & veggie"
200,chicken,hele dij van braadkip,supermarket,Colruyt,1,"meat, fish & veggie"
204,chicken,kippenbovenbout ca.1kg,supermarket,Colruyt,1,"meat, fish & veggie"
221,rice,BONI rijst basmati 4x125g,supermarket,Colruyt,2,pasta & rice
217,soup pasta,BONI soepparels 200g,supermarket,Colruyt,1,pasta & rice
256,candy,BONI snoep winegums 1kg,supermarket,Colruyt,1,snacks
248,chips,BONI kroepoek 100g,supermarket,Colruyt,1,snacks
238,chips,BONI Ribble Chips Salt&Pepper 200g,supermarket,Colruyt,1,snacks
260,chips,BONI cassave chips 60g,supermarket,Colruyt,2,snacks
258,cookies,BAHLSEN PICK UP! Chocolade koek 10x28g,supermarket,Colruyt,1,snacks

   item_type          item_name store_type store_name  amount category
14    danish       Koffiekoeken     bakery       Tine       2   bakery
7      bread    wit tijgerbrood     bakery    Wouters       1   bakery
32    danish  CHOCOLADE BROODJE     bakery    Vanessa       1   bakery

In [80]:
super1.to_excel("Wednesday-Eve-Colruyt.xlsx") 
baker1.to_excel("Sunday-noon-bakker.xlsx")