## 4: FUNCTIONS FOR ITEMS PER TIME, STORENAME

### Import libraries

In [62]:
%matplotlib inline
import pandas as pd
from random import sample
class bcolors:
    WARNING = '\033[91m'
    BOLD = '\033[1m'

### Load and view data

In [63]:
    # Function to generate #visits per day of the week
from AlgorithmDAYS_HH4 import weekdays, dayofweek
    #Function to define the limits for total visits, days, same store and type per week
from AlgorithmCOUNTS_HH4 import CountTotalVisits, CountTotalDays, CountStoreName, CountTimePerDay, CountStoreType, CountTotalPerday, CountVisitsPerDay, CountTimingPerDay
    # Function to generate #visits per time
from AlgorithmTIMES_HH4 import times, timeperday
    # Function to generate #visits per time
from AlgorithmSTOREday_HH4 import Storename, storeperday, countsperstore
    # Function to decide amounts per visit & per week
from AlgorithmAMOUNT_HH4 import StoreAmount, WeekAmount, StoreCount, WeekCount

In [64]:
dataframe = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH4\df\df_HH4.csv")

# Get counts per store etc

In [65]:
df1 = dayofweek()
df1

 RERUN - Too few/many visits per week

   times        day
0      1     Monday
5      2    Tuesday
0      1  Wednesday
1      1   Thursday
2      0     Friday
0      1   Saturday
2      4     Sunday

In [66]:
df2 = timeperday(df1)
df2

RERUN: There are no MORNINGS on MONDAY
RERUN: There are no AFTERNOONS on WEDNESDAY
RERUN: There are no MORNING on THURSDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNINGS on MONDAY
RERUN: There are no AFTERNOONS on WEDNESDAY
RERUN: There are no MORNING on THURSDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNINGS on MONDAY
RERUN: There are no AFTERNOONS on WEDNESDAY
RERUN: There are no MORNING on THURSDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no MORNING on SUNDAY
RERUN: There are no AFTERNOONS on MONDAY
RERUN: There are no AFTERNOONS on WEDNESDAY

         day       time
0     Monday       noon
1    Tuesday  afternoon
2    Tuesday  afternoon
3  Wednesday  afternoon
4   Thursday  afternoon
5   Saturday    evening
6     Sunday    evening
7     Sunday    evening
8     Sunday    evening
9     Sunday    evening

In [67]:
df3 = storeperday(df2)
df3

There is no value for Wednesday afternoon

  store_name   store_type       time       day
0        MCD  supermarket       noon    Monday
1        MCD  supermarket  afternoon   Tuesday
2        MCD  supermarket  afternoon   Tuesday
3        MCD  supermarket  afternoon  Thursday
4        MCD  supermarket    evening  Saturday
5        MCD  supermarket    evening    Sunday
6        MCD  supermarket    evening    Sunday
7        MCD  supermarket    evening    Sunday
8        MCD  supermarket    evening    Sunday

In [68]:
df4 = countsperstore(df3)
df4

  store_name   store_type       time       day  counts
0        MCD  supermarket       noon    Monday       1
1        MCD  supermarket  afternoon   Tuesday      19
2        MCD  supermarket  afternoon   Tuesday      18
3        MCD  supermarket  afternoon  Thursday       4
4        MCD  supermarket    evening  Saturday      10
5        MCD  supermarket    evening    Sunday       9
6        MCD  supermarket    evening    Sunday      17
7        MCD  supermarket    evening    Sunday       3
8        MCD  supermarket    evening    Sunday      14

# DEFINE FUNCTIONS

In [71]:
df = pd.read_csv (r"C:\Users\20204113\OneDrive - TU Eindhoven\2_Research\1_Groceries\DATA\9th week - narrative (3rd attempt)\HH4\df\df_HH4.csv")

In [72]:
def morning(dataframes, counts):
        timedf = {}
        for timing in dataframes['time']:
            storetime = df[df['time'] == timing]
            items = storetime[['item_type', 'item_name', 'time','store_name', 'amount']]
            timedf[timing] = pd.DataFrame(items)
            timedf[timing].drop_duplicates()
        if 'morning' in dataframes.values:
                grocerylist = dataframes[dataframes['time'] == 'morning']
                if 'morning' in dataframes.values:
                    timedf['morning'] = timedf['morning'].drop_duplicates()
                    return timedf['morning'].sample(n=counts, replace=False)

In [73]:
def noon(dataframes,counts, storename):
        timings = dataframes.time.values.tolist()
        storenames = dataframes.store_name.values.tolist()           
        timingdf = {}
        noonsdf = {}
        timedf = {}
        for timing in df4['time']:
            storetime = df[df['time'] == timing]
            items = storetime[['item_type', 'item_name', 'time','store_name', 'amount']]
            timedf[timing] = pd.DataFrame(items)
            timedf[timing].drop_duplicates()
        if 'noon' in dataframes.values:
            for storename  in storenames:
                timingdf = timedf['noon']
                storesdf = timingdf[timingdf['store_name'] == storename]
                items = storesdf[['item_type', 'item_name', 'time', 'store_name', 'amount']]
                noonsdf[storename] = pd.DataFrame(items)
                noonsdf[storename].drop_duplicates()
        if 'noon' in dataframes.values:
            grocerylist = dataframes[dataframes['time'] == 'noon']
            if 'noon' in dataframes.values:
                noonsdf[storename]= noonsdf[storename].drop_duplicates()
                return noonsdf[storename].sample(n=counts, replace=True)

In [77]:
noon(df4, 9, 'MCD')

        item_type             item_name  time store_name  amount
91   orange juice  VERSGEPERST SINASSAP  noon        MCD       1
89       tomatoes     SNOEPTOMAAT EMMER  noon        MCD       1
87       biscuits    CRACOTTES VOLKOREN  noon        MCD       1
16         danish    HAM/KAAS CROISSANT  noon        MCD       1
487          meal     indiase eiercurry  noon        MCD       1
91   orange juice  VERSGEPERST SINASSAP  noon        MCD       1
426   iced coffee         ice macchiato  noon        MCD       1
14    fish spread   Henri Pasta Salmone  noon        MCD       1
543          meal            BAMI RAMES  noon        MCD       1

In [74]:
def afternoon(dataframes,counts, storename):        
        timings = dataframes.time.values.tolist()
        storenames = dataframes.store_name.values.tolist()           
        timingdf = {}
        afternoonsdf = {}
        timedf = {}
        for timing in dataframes['time']:
            storetime = df[df['time'] == timing]
            items = storetime[['item_type', 'item_name', 'time','store_name', 'amount']]
            timedf[timing] = pd.DataFrame(items)
            timedf[timing].drop_duplicates()        
        if 'afternoon'in dataframes.values:
            for storename  in storenames:
                timingdf = timedf['afternoon']
                storesdf = timingdf[timingdf['store_name'] == storename]
                items = storesdf[['item_type', 'item_name', 'time', 'store_name', 'amount']]
                afternoonsdf[storename] = pd.DataFrame(items)
                afternoonsdf[storename].drop_duplicates()
        if 'afternoon' in dataframes.values:
                grocerylist = dataframes[dataframes['time'] == 'afternoon']
                if 'afternoon' in dataframes.values:
                    afternoonsdf[storename]= afternoonsdf[storename].drop_duplicates()
                    return afternoonsdf[storename].sample(n=counts, replace=True)

In [75]:
def evening(dataframes,counts, storename):                       
        timings = dataframes.time.values.tolist()
        storenames = dataframes.store_name.values.tolist()           
        timingdf = {}
        eveningsdf = {}
        timedf = {}
        for timing in dataframes['time']:
            storetime = df[df['time'] == timing]
            items = storetime[['item_type', 'item_name', 'time','store_name', 'amount']]
            timedf[timing] = pd.DataFrame(items)
            timedf[timing].drop_duplicates() 
        if 'evening'in dataframes.values:
            for storename  in storenames:
                timingdf = timedf['evening']
                storesdf = timingdf[timingdf['store_name'] == storename]
                items = storesdf[['item_type', 'item_name', 'time', 'store_name', 'amount']]
                eveningsdf[storename] = pd.DataFrame(items)
                eveningsdf[storename].drop_duplicates()
        if 'evening' in dataframes.values:
                grocerylist = dataframes[dataframes['time'] == 'evening']
                if 'evening' in dataframes.values:
                    eveningsdf[storename]= eveningsdf[storename].drop_duplicates()
                    return eveningsdf[storename].sample(n=counts, replace=True)